.login_bg {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url('@/assets/images/login_bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_container {
  box-sizing: content-box;
  width: 520px;
  padding: 50px 0;
  border-radius: 16px;
  margin-top: -5%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px 0 rgba(103, 103, 103, 0.15);
}